
  .page {
    display: flex;
    flex-direction: column;
    width: 1920px;
    margin: auto;
  }

  .company {
    padding-bottom: 26px;
    background: url("./img/Background.png") 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .company_conteiner {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding-top: 40px;
    padding-bottom: 120px;
  }
  .company_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    padding-top: 46px;
    width: 1455px;
  }
  .company_logo {
    width: 80px;
    height: 80px;
    padding-left: 8px;
  }
  .company_contacts {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    width: 208px 53px;
  }
  .company_phone {
    margin: 0;
    font: 400 30px "Roboto", sans-serif;
    color: white;
  }
  .company_call {
    display: block;
    display: flex;
    flex-direction: column;
    font: 400 18px "Roboto", sans-serif;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-right: 10px;
  }
  .company_text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;
    padding-bottom: 120px;
    padding-top: 40px;
  }
  .company_title {
    position: relative;
    bottom: 13px;
    white-space: pre-line;
    font: 790 58px "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.86);
    text-align: center;
    padding-right: 40px;
    margin-bottom: 69px;
    position: relative;
    top: 34px;
    margin-top: 0;
  }
  .company_subtext {
    white-space: pre-line;
    margin: 0;
    font-weight: 350px;
    font-size: 27px;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding-right: 15px;
    padding-top: 25px;
    margin-bottom: 115px;
    
  }
  .company_more {
    text-decoration: none;
    border-radius: 50px;
    width: 240px;
    height: 55px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #15a9cb;
}
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    width: 1920px;
    height: 715px;

  }
  .about_content {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }
  .about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about_text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about_title {
    margin: 0;
    font: 800 35px "Roboto", sans-serif;
    color: #383a4c;
    margin-bottom: 25px;
    padding-top: 15px;
  }
  .about_us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 189px;
    margin-bottom: 36px;
  }
  .about_line {
    width: 47px;
    height: 2px;
    background: #383a4c;
  }
  .about_us-text {
    margin: 0;
    font: 560 29px "Roboto", sans-serif;
    padding-top: 5px;
    padding-left: 26px;
    padding-right: 26px;
    color: #383a4c;
  }
  .about_main-text {
    white-space: pre-line;
    width: 900px;
    margin: 0;
    font: 400 22px "Roboto", sans-serif;
    color: #383a4c;
    text-align: center;
    margin-bottom: 70px;
    padding-top: 8px;
  }
  .about_container {
    display: flex;
    gap: 100px;
    width: 1200px;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .about_blu-container1 {
    display: flex;
    flex-direction: column;
    max-width: 220px;
  }
  .about_blu-container2 {
    display: flex;
    flex-direction: column;
    max-width: 220px;
  }
  .about_blu-container3 {
    display: flex;
    flex-direction: column;
    max-width: 220px;
  }
  .about_blu-container4 {
    display: flex;
    flex-direction: column;
    width: 260px;
  }
  .about_number {
    border-radius: 100%;
    width: 145px;
    height: 145px;
    font: 500 57px "Roboto", sans-serif;
    color: #fff;
    cursor: pointer;
    background: #15a9cb;
    border-color: #15a9cb;
    margin: 0 auto;
}
  .about_subtext {
    font: 600 25px "Roboto", sans-serif;
    color: #383a4c;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
  }
  .questions {
    background: url("./img/Background2.png") 50% / cover no-repeat;
  }
  .questions_content {
    display: flex;
    flex-direction: column;
    gap: 49px;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .questions_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .questions_title {
    margin: 0;
    font: 550 40px "Roboto", sans-serif;
    padding-top: 15px;
    padding-right: 20px;
    color: white;
    margin-bottom: 20px;
  }
  .questions_text {
    margin-bottom: 38px;
    font: 500 27px "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0;
  }
.questions_form {
  position: relative;

}
  .questions_item {
    display: flex;
    margin-bottom: 21px;
    width: 470px;
    height: calc(2.25rem + 4px);
    padding: 0.375rem 0.75rem;
    font-size: 22px;
    background-color: transparent;
    border: 2px solid #bdbdbd;
    border-radius: 50px;
  }
  .questions_item3 {
    display: flex;
    width: 470px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 22px;
    background-color: transparent;
    border: 2px solid #bdbdbd;
    border-radius: 50px;
  }
  .questions_item::placeholder {
    color: #bdbdbd;
    opacity: 0.4;
    font: 400 24px "Roboto", sans-serif;
    padding-left: 16px;
    text-align: start;
  }
  .questions_item3::placeholder {
    color: #bdbdbd;
    opacity: 0.4;
    font: 400 24px "Roboto", sans-serif;
    padding-left: 16px;
    text-align: start;
  }
  .input-field-style {
    box-sizing: border-box;
    width: 100%;
    font: 400 22px "Roboto", sans-serif;
    background: transparent;
    border: none;
    outline: none;
  }
  .input-style-d32d2ef1::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .futuristic-input-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 47px;
    padding-left: 26.5px;
    font: 400 22px "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    border: 1.5px solid white;
    border-radius: 50px;
  }
  .questions_call {
    position: relative;
    bottom: 45px;
    text-decoration: none;
    border-radius: 50px;
    width: 262px;
    height: 57px;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #15a9cb;
    background-color: #15a9cb;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .call-to-action-text-style {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 500 20px "Roboto", sans-serif;
    color: white;
  }
  .questions_text-container {
    display: flex;
    flex-direction: column;
  }
  .questions_subtext {
    position: relative;
    bottom: 60px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    font: 400 21px "Roboto", sans-serif;
    color: white;

  }
  .questions_agree {
    font: 400 20px "Roboto", sans-serif;
    color: #4a76a8;
  }
  .footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2f324b;
    height: 190px;
  }
  .footer_content {
    display: flex;
    gap: 300px;
    align-items: center;
    width: 1450px;
    height: 100px;
    padding-top: 55px;
    padding-bottom: 16px;
  }
  .footer_container1 {
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
    bottom: 10px;
    right: 7px;
  }
  .footer_rights {
    position: relative;
    padding-left: 25px;
    white-space: pre-line;
    font: 500 14px "Roboto", sans-serif;
    color: white;
    text-align: left;
  }
  .footer_creator {
    font: 500 13px "Roboto", sans-serif;
    color: white;
    position: relative;
    left: 65px ;
    bottom: 10px;
    letter-spacing: 1px;
    margin-top: 0;
  }
  .footer_container2 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 127px;
    bottom: 10px;
  }